h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

form input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

form .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 25%;
}

form button:hover {
  background-color: #444444;
}

form button[type=button] {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

form button[type=button]:hover {
  background-color: #aaa;
}