.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.myModal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myModalContent {
  padding: 25px;
  background: White;
  border-radius: 16px;
  min-width: 250px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

form input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

form .test {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

form button {
  display: inline-block;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 25%;
}

form button:hover {
  background-color: #444444;
}

form button[type=button] {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
  margin-left: 10%;
}

form button[type=button]:hover {
  background-color: #aaa;
}