@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
  margin: 100%;
}
@media screen and (min-width: 1001px) {
  .login__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;

    .login__box {
      width: 53em;
      height: 37em;
      background-color: #ffffff;
      border-radius: 12px;

      .image_box {
        img {
          height: 37em;
          border-bottom-left-radius: 12px;
        }
      }

      form.login__form {
        padding: 30px;
        margin-top: 20px;

        h4 {
          font-size: 30px;
          color: #000000;
        }

        .btn.btn-custom-submit {
          background-color: #ffffff;
          color: #000000;
          border-radius: 20px;
          border: 1px solid;
        }

        .btn.btn-custom-login {
          background-color: #ffffff;
          color: #000000;
          border-radius: 20px;
          align-items: center;
          border: 1px solid;
        }

        .form-control {
          border-radius: 20px;
          opacity: 75%;
        }

        .form-group {
          padding-top: 1px;
        }

        .row {
          padding-left: 25px;
          padding-top: 10px;
        }

        .check {
          text-align: center;
        }

        input[type="radio"] {
          width: 40px;
          box-sizing: border-box;
        }

        .radio-container {
          padding-left: 25px;
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .login__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;

    .login__box {
      width: 80%;
      height: 37em;
      background-color: #ffffff;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
      position: relative;
      display: flex;
      overflow: hidden;

      span.kolo.one {
      position: absolute;
      width: 40%;
      height: 25%;
      background-color: #00ffff;
      right: -15%;
      bottom: -15%;
      opacity: 50%;
      border-radius: 100%;

    }

      span.kolo.two {
      position: absolute;
      width: 40%;
      height: 25%;
      background-color: #00ffff;
      left: -15%;
      top: -15%;
      opacity: 50%;
      border-radius: 100%;

    }

      .image_box {
        height: 0;
        width: 0;
        img {
          height: 0;
          opacity: 0;
          border-bottom-left-radius: 12px;
        }
      }

      form.login__form {
        padding: 30px;
        margin-top: 20px;

        h4 {
          font-size: 30px;
          color: #000000;
        }
        .col-lg-6.sub{
          display: flex;
          width: 50%;
        }
        .col-lg-6.sign{
          display: flex;
          width: 50%;
        }
        .btn.btn-custom-submit {
          background-color: #ffffff;
          color: #000000;
          border-radius: 20px;
          border: 1px solid;
        }

        .btn.btn-custom-login {
          background-color: #ffffff;
          color: #000000;
          border-radius: 20px;
          align-items: center;
          border: 1px solid;

        }

        .form-control {
          border-radius: 20px;
          opacity: 75%;
        }

        .form-group {
          padding-top: 1px;
        }

        .row {
          padding-left: 25px;
          padding-top: 10px;
        }

        .check {
          text-align: center;
        }

        input[type="radio"] {
          width: 40px;
          box-sizing: border-box;
        }

        .radio-container {
          padding-left: 25px;
          display: flex;
        }
      }
    }
  }
}
